body {
    padding: 0;
    height: 100vh;
    color: #333;
    background-color: #ece7e7;
}

.container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#info {
    font-size: 28px;
    font-weight: bold;
}

button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #399d39;
    color: white;
    padding: 6px 12px;
}

button:hover,
button:active {
    background-color: #308630;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
}

#gameboard {
    width: 300px;
    height: 300px;
    background-color: #333;
    border: 1px solid #333;
    display: flex;
    flex-wrap: wrap;
    border-radius: 18px;
    padding: 3px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #f6d6d6;
    border: solid 2px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 18px;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 15px solid blue;
    box-sizing: border-box;
    background-color: #f6d6d6;
    padding: 30px;
}

.cross {
    height: 100px;
    width: 100px;
    position: relative;
}

.cross:before,
.cross:after {
    content: "";
    position: absolute;
    background-color: red;
    transform: rotate(45deg);
}

.cross:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}
