body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
    background-color: rgba(255, 236, 163, 0.80);
}

h1 {
    margin: 0;
    font-size: 36px;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.instructions {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#info {
    font-size: 24px;
    font-weight: bold;
}

button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #308630;
    color: white;
    padding: 8px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover,
button:active {
    background-color: #399d39;
    color: white;
    cursor: pointer;
}

#gameboard {
    width: 300px;
    height: 300px;
    background-color: #222;
    border: 1px solid #222;
    display: flex;
    flex-wrap: wrap;
    border-radius: 18px;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.square {
    width: 100px;
    height: 100px;
    background-color: #ffeca3;
    border: solid 2px #222;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 18px;
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid blue;
    box-sizing: border-box;
    background-color: #ffeca3;
    padding: 30px;
}

.circle-1 {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid blue;
    box-sizing: border-box;
    padding: 30px;
    position: absolute;
    translate: -350px -100px;

}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
}

.cross-1 {
    height: 90px;
    width: 90px;
    position: absolute;
    translate: 350px 100px;
}

.cross:before,
.cross-1:before,
.cross:after,
.cross-1:after {
    content: "";
    position: absolute;
    background-color: red;
    transform: rotate(45deg);
}

.cross:before,
.cross-1:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross:after,
.cross-1:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}
